/* Iteration 1 */
.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

}

.home-page-p {
  width: 750px;
  height: 100px;
}

.link-name {
  text-decoration: none;
  font-size: 30px;
  color: black;
  display: flex;
  flex-direction: column;
}

@media (min-width: 425px) {
  .home-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .home-page-p {
    height: 100px;
    width: 100%;
    height: auto;
  }
  .link-name {
    text-decoration: none;
    display: flex;
    font-size: 30px;
    color: black;
  }
  .home-img {
    width: 100%;
    height: auto;
    text-decoration: none;
    display: flex;
  }
}
/* Iteration 1 */
